<ac-map id="cesiumContainer" #cesiumContainer [enableTilt]="false">

  <!-- <ac-map-layer-provider [provider]="MapLayerProviderOptions.OpenStreetMap" 
  [options]="{
                    url : 'https://a.tile.openstreetmap.org/'
             }">
  </ac-map-layer-provider> -->

  <ac-map-layer-provider [provider]="MapLayerProviderOptions.BingMaps"
                       [options]="{
                                    url : 'https://dev.virtualearth.net',
                                    key : Cesium.BingMapsApi.defaultKey,
                                    mapStyle : Cesium.BingMapsStyle.AERIAL
                                }">
</ac-map-layer-provider>

  <ac-layer #toto acFor="let track of tracks$" [context]="this" [store]="true">


    <!-- <ac-billboard-desc props="{
                  image: plane.image,
                  scale: 1.1,
                  position: plane.position
                }">
        </ac-billboard-desc> -->
    <!-- <ac-label-desc props="{
            position: plane.position,
            text: plane.id,
            font: '40px sans-serif',
            scale: 0.5,
            fillColor: getTextColor(plane)
        }">
    </ac-label-desc>

    <ac-label-desc props="{
        position: plane.position,
        pixelOffset : [-15,35] | pixelOffset,
        text: plane.alt.toString(),
        font: '30px sans-serif',
        scale: 0.5,
        fillColor: getTextColor(plane)
    }">
    </ac-label-desc>
-->

    <!-- <ac-polyline-desc props="{
        positions: [track.position, track.futurePosition],
        width: 1,
        material: getTextColor(plane)
    }">
    </ac-polyline-desc>  -->

    <ac-model-desc props="{
        position: track.position,
        minimumPixelSize: 50,
        maximumScale : 2000,
        uri: '/assets/CesiumAir/Cesium_Air.gltf',
        orientation: track.orientation
        }">
    </ac-model-desc>


  </ac-layer>
</ac-map>
