// .track {
//     border: solid 1px #555;
//     border-radius: 5px;
//     background-color: rgba(0,0,0,0.6);
//     box-shadow:  0 0 5px  rgba(1,1,1,0.3);
//     -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
//     -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
//     -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6)
// }
p {
    margin: 0em;
}

label {
  color: #8A8A8A;
  font-size: 14px
}

.icon:hover {
  color: #A2FF00;
}